<footer>
	<div class="container">
		<div class="row" id="foot-top">
			<div class="col-lg">
				<h3>Find Me</h3>
				<p>I do the majority of my work in my room at home, but I live in London, Ontario Canada. If you're in the area, drop me an email or contact me in some form of social media. We can grab a coffee and talk about nerd stuff.</p>
			</div>
			<div class="col-lg">
				<h3>Web Design</h3>
				<ul class="footer_ul_amrc">
					<li><a href="http://www.webdesign-inspiration.com">Web Design Inspiration</a></li>
					<li><a href="http://www.awwwards.com">Awwwards.com</a></li>
					<li><a href="http://www.coolers.co">Color Scheme Generator</a></li>
					<li><a href="http://www.pixabay.com">Pixabay |</a><a href="http://www.pexels.com/"> Pexels</a></li>
					<li><a href="http://www.fontpair.co">Fontpair</a></li>
					<li><a href="http://www.startbootstrap.com">startbootstrap.com</a></li>
				</ul>
			</div>
			<div class="col-lg">
				<h3>Resources</h3>
				<ul class="footer_ul_amrc">
					<li><a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/">Bootstrap</a></li>
					<li><a href="https://www.w3schools.com/">W3 Schools</a></li>
					<li><a href="https://www.tutorialspoint.com">Tutorials Point</a></li>
					<li><a href="https://www.css-tricks.com/">CSS-Tricks</a></li>
					<li><a href="https://www.codecademy.com/">Codecademy</a></li>
					<li><a href="https://www.udemy.com/the-full-stack-web-development/">Full Stack Course</a></li>
					<li><a href="https://www.chapters.indigo.ca/en-ca/books/web-design-with-html-css/9781118907443-item.html?ikwsec=Books&ikwidx=0">These books</a></li>
				</ul>
			</div>
			<div class="col-lg">
				<h3>Social Media</h3>
				<ul class="footer_ul_amrc">
					
				</ul>
			</div>
		</div>
	</div>
	<div class="container" id="foot-btm">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			<div>
				<h6>Copyright &copy; 2019 | <a href="https://www.codeberry.ca/">Codeberry</a></h6>
			</div>
			<img src="images/cb.png" alt="Codeberry London | Web Developer" id="foot-cb">
	</div>
</footer>
</body>
</html>
