<%- include('partials/header') %>

<div class="container-fluid" id="about-d1">
	<h1 data-aos="fade">What's important to me?</h1>
	<div class="container">
		<div class="row" id="about-row">
			<div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
				<img src="images/running.png" class="about-ico">
				<div class="about-ico-d">
					<h2>Speed</h2>
					<p>There's no question: websites <strong>need</strong> to load quickly. However, how developers acheive this goal is for debate. I do my best to follow best-practice methods and stay current with the latest technologies. I track the performance and analytics of all my websites, and constantly research for ways to improve. Making sure my sites are able to load smoothly and quickly is a top priority to me.</p>
				</div>
			</div>
			<div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
				<img src="images/data.png" class="about-ico">
				<div class="about-ico-d">
					<h2>Readability</h2>
					<p>There is nothing worse than revisiting an old project, and realizing your code makes no sense. After I built my third or fourth client site, I recognized similar patterns in my code. I do my best to organize my work in a readable fashion so that when I revisit, I don't have to rewrite unnessecary code. It has made my life a lot easier, and is very important to me in regards to my projects.</p>
				</div>
			</div>
			<div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
				<img src="images/ux.png" class="about-ico">
				<div class="about-ico-d">
					<h2>UX/UI</h2>
					<p>User interface and experience are two crucially important aspects to me when it comes to developing and designing websites. People are picky- and like loadtimes- if a website doesn't feel and look right, the user isn't likely to use that platform. Understanding both what works and goes over well with certain demographics is a salient factor in my projects, and something I pride myself on.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="about-d4">
	<div class="container" data-aos="slide-right">
		<div data-aos="fade" data-aos-delay="600">
			<h1>Personal Attributes</h1>
			<hr>
			<ul>
				<li>Very loyal- I'm a leafs fan, if that doesn't prove it... nothing will.</li>
				<li>Motivated and hard worker. Easily adaptable to new environments.</li>
				<li>Good communicator, happy to take criticism.</li>
				<li>Good listener, happy to take compliments.</li>
				<li>All around happy guy. Life is too good to complain.</li>
			</ul>
		</div>
	</div>
</div>

<div id="about-d2">
	<div class="container">
		<h1 data-aos="fade-down">Skills & Technologies</h1>
		<div class="row skills-row" data-aos="fade-up">
			<div class="col" id="c-html"></div>
			<div class="col" id="c-css"></div>
			<div class="col" id="c-js"></div>
			<div class="col" id="c-jquery"></div>
		</div>
		<div class="row skills-row" data-aos="fade-up">
			<div class="col" id="c-node"></div>
			<div class="col" id="c-git"></div>
			<div class="col" id="c-py"></div>
			<div class="col" id="c-ps"></div>
		</div>
	</div>
</div>

<div id="about-d3">
	<div class="container">
		<h1>Education & Experience</h1>
		<hr>
		<div class="exp_cont">
			<div data-aos="fade-right">
				<h3>Codeberr<span>y/</span>Matt Berry Tech Co (MBTC)</h3>
				<hr>
				<p>While in high school, I started a business called MBTC selling websites to local businesses. At first, I was using CMS's like Wordpress and Wix as my medium for development. After a month or so, natural curiosity and frustration with the platforms' limitations forced me to taking coding more seriously. I began to teach myself all the awesome languages I use now, and I'm nothing but excited to keep learning. I've since slowed down my activity selling websites, and transitioned to <strong>Codeberry</strong>; which is really just a personal portfolio. In all honesty, I just didn't like the sound of my own name that much, and MBTC never really stuck. Live and learn!</p>
			</div>
			<div data-aos="fade-right">
				<h3>Western University</h3>
				<hr>
				<p>I started my studies at Western University focusing on finance and marketing. I initially thought it would be more reasonable to learn business in university and computer science on my own, but after my first year, I switched to a BSc. in Computer Science.</p>
			</div>
			<div data-aos="fade-right">
				<h3>Western University</h3>
				<hr>
				<p>I started my studies at Western University focusing on finance and marketing. I initially thought it would be more reasonable to learn business in university and computer science on my own, but after my first year, I switched to a BSc. in Computer Science.</p>
			</div>
			<div data-aos="fade-right">
				<h3>St Thomas Aquinas Secondary</h3>
				<hr>
				<p>I went to high school in London. Pretty standard stuff... Luckily for me, the school offered a pretty cool computer science program, which is where I was introduced to programming and coding. I was the Prime Minister of our Student Council, played hockey, and shredded the badminton court.</p>
			</div>
		</div>
		<div data-aos="flip-down"><button id="resume">My Resume</button></div>
	</div>
</div>

<script src="js/about.js"></script>

<%- include('partials/footer') %>