<%- include('partials/header'); %>

<div id="home-bg">
	<div class="container" data-aos="fade-up">
		<h1>Hi there! I'm Matt.</h1>
		<h6>I'm a creative guy & I like to build things with my computer.</h6>
		<a href="/about"><div id="about">About Me</div></a>
		<a href="/portfolio"><div id="work">My Work</div></a>
	</div>
</div>

<div id="socialbar">
	<div id="fb"></div>
	<div id="ig"></div>
	<div id="gh"></div>
	<div id="li"></div>
</div>

<div id="copyright">
	<h6>Copyright &copy; Codeberry 2019</h6>
</div>

<script src="js/home.js"></script>
