<%- include('partials/header.ejs') %>

<div class="container-fluid" id="serv-d1" data-aos="fade" data-aos-duration="2000">
	<h1>Freelance Services</h1>
</div>

<div class="container" id="serv-d2">
	<div class="row serv-row" data-aos="zoom-in-left" data-aos-delay="500">
		<div class="col-lg-5" id="mac"></div>
		<div class="col-lg-7">
			<h2>Web Design & Development</h2>
			<h6>HTML5 // CSS3 // JavaScript // jQuery // Node.js // PHP // Bootstrap</h6>
			<p>I love designing and developing awesome and responsive websites. From the initial design to the final search engine optimization, I'll take care of it all. Websites need to be designed carefully, ensuring that it will look good on all devices- after all, it is one of the most public expressions of your business. I try to put my own spin on the design of every project, however I'm perfectly happy to take precise instruction on what you want the final product to look like.</p>
			<button>Let's talk about it!</button>
		</div>
	</div>
	<div class="row serv-row" data-aos="zoom-in-right" id="mobdev">
		<div class="col-lg-7">
			<h2>Mobile Application Development</h2>
			<h6>iOS & Android Applications</h6>
			<p>After focusing almost exclusively on web development for the last 5 years, I recently started learning Swift for iOS and Java for Android Application Development. As far as basic applications go, I certainly feel comfortable developing and discussing projects... But, I don't yet feel comfortable taking on a functional/more advanced application project at this point. I have two applications I'm working on finishing and publishing in the near future, at which point I'll be ready to discuss projects at a more experienced level. They're also important for my portfolio, which will be updated as soon as everything's polished and pushed!</p>
			<button>Let's talk about it!</button>
		</div>
		<div class="col-lg-5" id="iphone"></div>
	</div>
</div>


<script src="js/serv.js"></script>
<%- include('partials/footer.ejs') %>